<!DOCTYPE html>
<html>
<head>
  <title>Atmtag</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>

  <%- if Rails.env.development? %>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&sensor=true"></script>
  <% else %>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCgEDzFPdOFepz59hBfhcTRSopF4khz3Ns&sensor=true"></script>
  <% end %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="atmtag" ng-controller="AtmCtrl" ng-init="initialize()" ng-show="preferences">

<div class="container">
<div class="row">

<div class="span4 visible-desktop">
<h1>Atm Tag: save money and time, by finding the closest, cheapest ATM.</h1>
</div>

<div class="span4">

<%= render partial: 'layouts/dialogs' %>

<h2 ng-hide="results" class="visible-phone">Atm Tag: save money and time, find cheap and close ATMs</h2>
<%= yield %>
</div>
<div class="span4 visible-desktop">
<h3>Atm Tag works best on your mobile phone.</h3>
</div>
</div>
</div>

</body>
</html>
